.flex-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(96, 79, 252, 0.082), white);
}
.board {
  width: 80%;
  height: 80%;
  display: grid;
  background-color: white;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.board:hover {
  cursor: pointer;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  min-height: 300px;
  width: 60vw;
  height: 60vw;
  max-width: 600px;
  max-height: 600px;
}
.title {
  display: flex;
  justify-content: center;
}
.buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}
button {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  transition: all 0.2s;
}
button:hover {
  cursor: pointer;
}
.blackButton {
  background-color: black;
  color: white;
}
.blackButton:hover {
  background-color: white;
  color: black;
}
.grayButton {
  background-color: rgba(128, 128, 128, 0.411);
  color: black;
}
.grayButton:hover {
  background-color: rgb(95, 95, 95);
  color: white;
}
.randomButton {
  background: linear-gradient(0.25turn, #f65cfc, #ebf8e1, #583cf6);
}
.randomButton:hover {
  background: linear-gradient(0.25turn, #20ff02, #ebf8e1, #aecc03);
}
.erasorButton {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.erasorButton:hover {
  background-color: white;
  color: rgb(255, 255, 255);
}
input {
  width: 50px;
}

.mode {
  margin-bottom: 5px;
}
.error {
  display: none;
}
